<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>
        const testFunc = () => {
            const inputT = $('input[name=file]').val();
            console.log(inputT);
        }
    </script>
    <style>
        .upload__button {
            padding: 6px 25px;
            background-color: #FF6600;
            border-radius: 4px;
            color: white;
            cursor: pointer;
        }

        .selectedFile {
            border: 0;
        }

        .preview__container {

        }

        .board__img {
            width: inherit;
            height: inherit;
            cursor: pointer;
        }
    </style>
</head>
<body>
<div>
    <h2>게시글 입력</h2>
    <form action="" method="post" enctype="multipart/form-data">
        <div>
            <label>제목
                <input th:if="${prevBoard}" name="title" placeholder="제목" th:value="${prevBoard.title}"/>
                <input th:unless="${prevBoard}" name="title" placeholder="제목"/>
            </label>
        </div>
        <div>
            <label>본문
                <textarea th:if="${prevBoard}" name="content" placeholder="내용 입력"
                          th:utext="${prevBoard.content}"></textarea>
                <textarea th:unless="${prevBoard}" name="content" placeholder="내용 입력"></textarea>
            </label>

            <span th:if="${prevFile}" th:text="${'파일이 존재합니다.'}"></span>
            <span th:unless="${prevFile}" th:text="${'파일이 존재하지 않습니다.'}"></span>
            <input th:if="${prevBoard}" type="hidden" name="id" th:value="${currentId}"/>
            <input th:if="${prevBoard}" type="hidden" name="viewCount" th:value="${prevBoard.count}"/>
        </div>
        <div style="margin: 0 25px; height: 64px; display: flex; align-items: center">
            <label class="upload__button" for="file">
                파일 업로드
                <input type="file" name="file" id="file" style="display: none" onchange="setImgPreview(this)" />
            </label>
        </div>
        <div>
            <th:block th:if="${prevBoard}">
                <th:block th:if="${img}">
                    <!--                    <span th:text="${prevBoard.filename}" class="selectedFile"></span>-->
                    <input readonly th:value="${img.filename}" class="selectedFile" name="currentFilename"/>
                    <!--            수정모드로 진입 시 버튼 및 사진 업로드 처리부터 start!! -->
                    <!--             + 파일(이미지) 선택 시 이미지 미리보기 사진 띄워주기!! -->
                    <button type="button" class="deleteFile" onclick="deleteFunc()"
                            style="display: inline-block; margin-left: 12px;">X
                    </button>
                    <div class="preview__container">
                        <img th:src="@{${img.filepath}}" th:alt="${'이미지를 불러올 수 없습니다.'}" class="board__img"/>
                    </div>
                </th:block>
                <th:block th:unless="${img}">
                    <!--                    <span class="selectedFile"></span>-->
                    <input readonly class="selectedFile" name="currentFilename"/>
                    <!--            수정모드로 진입 시 버튼 및 사진 업로드 처리부터 start!! -->
                    <!--             + 파일(이미지) 선택 시 이미지 미리보기 사진 띄워주기!! -->
                    <button type="button" class="deleteFile" onclick="deleteFunc()"
                            style="display: none; margin-left: 12px;">X
                    </button>
                    <div class="preview__container">
                    </div>
                </th:block>
            </th:block>
            <th:block th:unless="${prevBoard}">
                <!--                <span class="selectedFile"></span>-->
                <input readonly class="selectedFile" name="currentFilename"/>
                <!--            수정모드로 진입 시 버튼 및 사진 업로드 처리부터 start!! -->
                <!--             + 파일(이미지) 선택 시 이미지 미리보기 사진 띄워주기!! -->
                <button type="button" class="deleteFile" onclick="deleteFunc()"
                        style="display: none; margin-left: 12px;">X
                </button>
                <div class="preview__container">
                </div>
            </th:block>
        </div>
        <button>글 작성</button>
        <button type="button" onclick="history.back()">취소</button>
    </form>
</div>
<script>
    $(document).ready(function () {
        $('input[name=file]').change(function (e) {
            console.log("======= onChange =======");
            const fileInput = document.getElementById("file");
            const filePath = e.target.value;
            console.log(filePath);
            console.log(e.target);
            console.log(fileInput.files);
            if (filePath === "") {
                $(".selectedFile").attr("value", "");
                $(".deleteFile").css("display", "none");
                // $(".board__img").attr("src", "")
            } else {
                const strIdx = filePath.lastIndexOf("\\") + 1;
                const fileName = filePath.substring(strIdx);
                $(".selectedFile").attr("value", fileName);
                $(".deleteFile").css("display", "inline-block");
                // $(".board__img").attr("src", $('input[name=file]').val());
            }
            console.log("======= ======== =======");
        });

    });

    const previewContainer = document.getElementsByClassName("preview__container")[0];
    const setImgPreview = (targetObj) => {
        console.log("======= setImgPreview =======");
        console.log("===== TEST =====")
        console.log(targetObj === document.getElementById("file"));
        console.log("set image preview function.");
        const files = targetObj.files;
        console.log(targetObj);
        if (previewContainer.childElementCount === 1) {
            console.log("it has image!!");
            previewContainer.removeChild(previewContainer.firstElementChild);
        }
        for (let fileIdx = 0; fileIdx < files.length; fileIdx++) {
            const filename = document.createElement("input");

            const img = document.createElement("img");
            const file = files[fileIdx];
            img.className = "board__img";
            img.file = file;
            img.style.width='200px';
            img.style.height='200px';
            img.style.cursor='pointer';
            previewContainer.appendChild(img);
            console.log(previewContainer.childElementCount);

            // 실제 업로드된 이미지 파일을 썸네일로 보여주는 코드
            const reader = new FileReader();
            reader.onloadend = (function(aImg) {
                return function(e) {
                    aImg.src = e.target.result;
                };
            })(img);
            reader.readAsDataURL(file);
        }

        console.log("======= ============= =======");
    }

    const deleteFunc = () => {
        console.log("======= deleteFunc =======");
        console.log("image delete function.")
        const deletePreviewContainer = document.getElementsByClassName("preview__container")[0];
        if (deletePreviewContainer.childElementCount === 1) {
            console.log("it has child. delete img child.")
            deletePreviewContainer.removeChild(deletePreviewContainer.firstElementChild);
        }
        $('input[name=file]').val("");
        $(".selectedFile").attr("value", "");
        $(".deleteFile").css("display", "none");
        console.log("======= ========== =======");
    }
</script>
</body>
</html>