<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>관리자 페이지</h1>
    <th:block th:if="${userId}">
        <p>사용자 아이디: <span th:text="${userId}"></span></p>
        <p>사용자 이메일: <span th:text="${userEmail}"></span></p>
    </th:block>
    <th:block th:if="${isAdmin} == false">
        <p style="color: red;">해당 계정은 관리자 계정이 아닙니다!</p>
    </th:block>
    <p>사용자 로그인 정보</p>
    <form action="/" method="get">
        <button>홈으로 돌아가기</button>
    </form>
</body>
</html>